<!-- <!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的网页</title>
    <style>
        /* 这里可以添加 CSS 样式 */
    </style>
</head>

<body>
    <h1>商品列表</h1>
    <h6>iphone 16 pro</h6>
    <a>herf = "https://www.apple.com/sg/shop/buy-iphone/iphone-16-pro" <img src="static/iphone-16 16 pro.jpg"
            style="width:150px"></a>
    <h6>iphone 16</h6>
    <a>herf = "https://www.apple.com/sg/shop/buy-iphone/iphone-16" <img src="/static/iphone 16.jpg"
            style="width:150px"></a>
    <h6>iphone 15/plus</h6>
    <a>herf = "https://www.apple.com/sg/shop/buy-iphone/iphone-15" <img src="/static/iphone 15.jpg"
            style="width:150px"></a>


</body>

</html> -->
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的网页</title>
</head>

<body>
    <h1>商品列表</h1>

    <h6>iphone 16 pro</h6>
    <a href="https://www.apple.com/sg/shop/buy-iphone/iphone-16-pro">
        <img src="static/iphone-16 16 pro.jpg" style="width:150px">
    </a>

    <h6>iphone 16</h6>
    <a href="https://www.apple.com/sg/shop/buy-iphone/iphone-16">
        <img src="static/iphone 16.jpg" style="width:150px">
    </a>

    <h6>iphone 15/plus</h6>
    <a href="https://www.apple.com/sg/shop/buy-iphone/iphone-15">
        <img src="static/iphone 15.jpg" style="width:150px">
    </a>
</body>

</html>