<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在这地方可以更改网页标签</title>
    <style>
        h2 {
            color: red;
        }
    </style>
</head>

<body>

    <!-- <h1>欢迎来到我的网页！</h1>
    <h1>一级标题</h1>
    <h2>二级标题</h2>
    <h3>三级标题</h3>
    <h4>四级标题</h4>
    <h5>五级标题</h5> -->

    <h1>武汉纺织大学</h1>
    <h2>武汉纺织大学简介</h2>

    <div>
        武汉纺织大学是国家首批“中西部高校基础能力建设工程”建设高校、教育部“卓越工程师教育培养计划”实施高校、
        湖北省“国内一流学科”建设高校、全国十大时装名校。学校在新中国振兴民族轻工业的呼声中应运而生，
        前身是始建于1958年的武汉纺织工学院，1999年更名为武汉科技学院，湖北省对外贸易学校、湖北财经高等专科学校
        先后并入，2010年更名为武汉纺织大学。
        <a href="https://www.wtu.edu.cn/">查看官网</a>
    </div>

    <!-- <span>这个是 span 的效果，有多少就占多少位置，不会强制占一整行。就算写的时候是两行也会压缩到一行</span> -->
    <h2>我们的口号</h2>
    <div>
        <p>谁是武汉第一校</p>
        <p>武汉纺织大学</p>
        <p>点击查看详细内容</p>
        <a href="/get/news">查看详细信息</a>
        <!-- <p>这是一个 HTML 初始框架，你可以在这里添加更多内容。</p> -->
    </div>

</body>

</html>